---
import { Image } from "astro:assets";
import { SITE_NAME } from "../../constant";
import ciffeliaIcon from "../../assets/ciffelia.png";
import homeIcon from "../../assets/home.svg";
import xIcon from "../../assets/x.svg";
import githubIcon from "../../assets/github.svg";
import zennIcon from "../../assets/zenn.svg";
import SocialLink from "./SocialLink.astro";
---

<header
  class="flex flex-col items-center justify-between gap-y-4 px-16 py-6 lg:flex-row"
>
  <a href="/" class="flex items-center gap-2 sm:gap-4">
    <Image
      src={ciffeliaIcon}
      alt=""
      class="h-12 w-12 max-w-none rounded-full sm:h-20 sm:w-20"
      sizes="(min-width: 640px) 80px, 48px"
      loading="eager"
    />
    <span
      class="font-quicksand text-4xl font-semibold text-slate-50 sm:text-5xl"
    >
      {SITE_NAME}
    </span>
  </a>
  <ul class="flex gap-x-4">
    <li>
      <SocialLink
        name="Home Page"
        url="https://ciffelia.com/"
        color="light-dark(#3585ff,#0044ac)"
        icon={homeIcon}
      />
    </li>
    <li>
      <SocialLink
        name="X"
        url="https://x.com/ciffelia"
        color="#000"
        icon={xIcon}
        smallerIcon
      />
    </li>
    <li>
      <SocialLink
        name="GitHub"
        url="https://github.com/ciffelia"
        color="#231f20"
        icon={githubIcon}
      />
    </li>
    <li>
      <SocialLink
        name="Zenn"
        url="https://zenn.dev/ciffelia"
        color="light-dark(#fff,#000)"
        icon={zennIcon}
      />
    </li>
  </ul>
</header>
