---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import ArticleHead from "./_index/ArticleHead.astro";
import ArticleHeader from "./_index/ArticleHeader.astro";
import ArticleShare from "./_index/ArticleShare.astro";
import ArticleToC from "./_index/ArticleToC.astro";
import ArticleContent from "./_index/ArticleContent.astro";

export async function getStaticPaths() {
  const articles = await getCollection("article", ({ data }) => {
    return import.meta.env.DEV || data.isPublished;
  });
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content, headings } = await article.render();
---

<Layout>
  <ArticleHead slot="head" {article} />
  <article
    class="flex flex-col gap-5 w-screen max-w-screen-md lg:max-w-screen-lg mx-auto"
  >
    <Card as="div" class="md:rounded-2xl p-7 md:p-10">
      <ArticleHeader {article} />
    </Card>
    <div class="flex flex-col lg:flex-row-reverse lg:items-start gap-5">
      <aside
        class="lg:sticky lg:top-5 flex flex-col gap-5 lg:flex-1 lg:w-0 max-h-[50svh] lg:max-h-[calc(100dvh-2.5rem)]"
      >
        <Card as="div" class="hidden lg:block rounded-2xl p-5">
          <ArticleShare {article} />
        </Card>
        <Card
          as="div"
          class="md:rounded-2xl p-7 md:px-10 lg:p-5 overflow-x-hidden overflow-y-scroll"
        >
          <ArticleToC {headings} />
        </Card>
      </aside>
      <Card
        as="main"
        class="lg:w-full lg:max-w-screen-md md:rounded-2xl p-7 md:p-10"
      >
        <ArticleContent {article} {Content} />
      </Card>
    </div>
  </article>
</Layout>
