---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import ArticleHead from "./_index/ArticleHead.astro";
import ArticleHeader from "./_index/ArticleHeader.astro";
import ArticleToC from "./_index/ArticleToC.astro";
import ArticleContent from "./_index/ArticleContent.astro";

export async function getStaticPaths() {
  const articles = await getCollection("article", ({ data }) => {
    return import.meta.env.DEV || data.isPublished;
  });
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content, headings } = await article.render();
---

<Layout>
  <ArticleHead slot="head" {article} />
  <article
    class="flex flex-col gap-5 w-screen max-w-screen-md lg:max-w-screen-lg mx-auto"
  >
    <Card as="div" class="w-full md:rounded-2xl p-7 md:p-10">
      <ArticleHeader {article} />
    </Card>
    <div class="flex flex-row-reverse items-start gap-5 w-full">
      <Card
        as="aside"
        class="hidden lg:block flex-1 w-0 max-h-[calc(100dvh-2.5rem)] sticky top-5 rounded-2xl p-7 overflow-y-scroll"
      >
        <ArticleToC {headings} />
      </Card>
      <Card
        as="main"
        class="w-screen max-w-screen-md md:rounded-2xl p-7 md:p-10"
      >
        <ArticleContent {article} {Content} />
      </Card>
    </div>
  </article>
</Layout>
