---
import type { EmbedLinkCardData } from "./createEmbedLinkCardData";

interface Props {
  data: EmbedLinkCardData;
}

const { data } = Astro.props;

const { url, description, faviconUrl, ogImageUrl } = data;
const title = data.title ?? data.url;
const host = URL.canParse(url) ? new URL(url).host : undefined;
---

<div class="not-prose tracking-normal text-start">
  <a
    class="my-5 w-full h-32 flex border rounded overflow-hidden hover:bg-slate-100 transition-colors"
    href={url}
    target="_blank"
  >
    <div class="grow px-5 py-3 flex flex-col gap-1.5 overflow-hidden">
      <span class="text-lg font-bold tracking-wide line-clamp-2">
        {title}
      </span>
      <span class="grow text-sm tracking-wide text-slate-500 truncate">
        {description}
      </span>
      <div class="flex items-center gap-1.5">
        {
          faviconUrl !== undefined && (
            <img
              class="w-3.5 h-3.5"
              src={faviconUrl}
              alt=""
              loading="lazy"
              decoding="async"
              referrerpolicy="no-referrer"
            />
          )
        }
        <span class="text-sm text-slate-600 truncate">{host}</span>
      </div>
    </div>
    {
      ogImageUrl !== undefined && (
        <img
          class="h-full object-cover aspect-square sm:aspect-ogp"
          src={ogImageUrl}
          alt=""
          loading="lazy"
          decoding="async"
          referrerpolicy="no-referrer"
        />
      )
    }
  </a>
</div>
