---
import { getCollection, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import ArticleHead from "./_index/ArticleHead.astro";
import ArticleHeader from "./_index/ArticleHeader.astro";
import ArticleShare from "./_index/ArticleShare.astro";
import ArticleToC from "./_index/ArticleToC.astro";
import ArticleContent from "./_index/ArticleContent.astro";
import { vtArticleCard } from "../../../view-transition";

export async function getStaticPaths() {
  const articles = await getCollection("article", ({ data }) => {
    return import.meta.env.DEV || data.isPublished;
  });
  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content, headings } = await render(article);
---

<Layout>
  <ArticleHead slot="head" {article} />
  <article
    class="mx-auto flex w-screen max-w-(--breakpoint-md) flex-col gap-5 lg:max-w-(--breakpoint-lg)"
  >
    <Card
      as="div"
      class="view-transition p-7 md:rounded-2xl md:p-10"
      style={vtArticleCard(article.id)}
    >
      <ArticleHeader {article} />
    </Card>
    <div class="flex flex-col gap-5 lg:flex-row-reverse lg:items-start">
      <aside
        class="flex max-h-[50svh] flex-col gap-5 lg:sticky lg:top-5 lg:max-h-[calc(100dvh-2.5rem)] lg:w-0 lg:flex-1"
      >
        <Card as="div" class="hidden rounded-2xl p-5 lg:block">
          <ArticleShare {article} />
        </Card>
        <Card
          as="div"
          class="overflow-x-hidden overflow-y-scroll p-7 md:rounded-2xl md:px-10 lg:p-5"
        >
          <ArticleToC {headings} />
        </Card>
      </aside>
      <Card
        as="main"
        class="p-7 md:rounded-2xl md:p-10 lg:w-full lg:max-w-(--breakpoint-md)"
      >
        <ArticleContent {Content} />
      </Card>
    </div>
  </article>
</Layout>
