---
import type { CollectionEntry } from "astro:content";
import { isSameDay } from "date-fns";
import { FaPencilRuler, FaRegEdit, FaSync } from "react-icons/fa";
import TagList from "./TagList.astro";
import Timestamp from "../../../../components/Timestamp.astro";
import {
  vtArticleCardInner,
  vtArticleCardTitle,
} from "../../../../view-transition";

interface Props {
  article: CollectionEntry<"article">;
}

const {
  article: {
    id,
    data: { title, isPublished, publishedAt, modifiedAt, tags },
  },
} = Astro.props;
---

<div
  class="view-transition flex flex-col gap-y-5"
  style={vtArticleCardInner(id)}
>
  <h1 class="text-center text-4xl font-extrabold tracking-wide">
    <span class="view-transition" style={vtArticleCardTitle(id)}>{title}</span>
  </h1>
  <TagList tags={tags} />
  <div class="flex items-center justify-center gap-x-4">
    {
      !isPublished && (
        <div class="flex items-center justify-center gap-x-2 text-red-500">
          <FaPencilRuler role="presentation" />
          <span>下書き</span>
        </div>
      )
    }
    <div class="flex items-center justify-center gap-x-2">
      <FaRegEdit role="img" aria-label="公開日" />
      <Timestamp value={publishedAt} dateOnly />
    </div>
    {
      !isSameDay(publishedAt, modifiedAt) && (
        <div class="flex items-center justify-center gap-x-2">
          <FaSync role="img" aria-label="最終更新日" />
          <Timestamp value={modifiedAt} dateOnly />
        </div>
      )
    }
  </div>
</div>
