---
import type { EmbedLinkCardData } from "./createEmbedLinkCardData";

interface Props {
  data: EmbedLinkCardData;
}

const { data } = Astro.props;

const { url, description, faviconUrl, ogImageUrl } = data;
const title = data.title ?? data.url;
const host = URL.canParse(url) ? new URL(url).host : undefined;
---

<div class="not-prose text-start tracking-normal">
  <a
    class="my-5 flex h-32 w-full overflow-hidden rounded-sm border border-slate-200 bg-slate-50 transition-colors hover:bg-slate-100 dark:border-slate-800 dark:bg-slate-900 dark:hover:bg-slate-800"
    href={url}
    target="_blank"
  >
    <div class="flex grow flex-col gap-1.5 overflow-hidden px-5 py-3">
      <span class="line-clamp-2 text-lg font-bold tracking-wide">
        {title}
      </span>
      <span
        class="grow truncate text-sm tracking-wide text-slate-500 dark:text-slate-400"
      >
        {description}
      </span>
      <div class="flex items-center gap-1.5">
        {
          faviconUrl !== undefined && (
            <img
              class="h-3.5 w-3.5"
              src={faviconUrl}
              alt=""
              loading="lazy"
              decoding="async"
              referrerpolicy="no-referrer"
            />
          )
        }
        <span class="truncate text-sm">{host}</span>
      </div>
    </div>
    {
      ogImageUrl !== undefined && (
        <img
          class="sm:aspect-ogp aspect-square h-full object-cover"
          src={ogImageUrl}
          alt=""
          loading="lazy"
          decoding="async"
          referrerpolicy="no-referrer"
        />
      )
    }
  </a>
</div>
